
:root {
    --bg-grey: #dddddd;    
    --bg-black: #080808;
    --bg-dark-grey: #1f1f1f;  
    --bg-white: #ffffff;
    --bg-orange: #f39200;  

    --light-text: font-family: 'Roboto', sans-serif;
    --regular-text: font-family: 'Roboto', sans-serif;
    --bold-text: font-family: 'Roboto', sans-serif;

    --text-grey: #d5d5d5;    
    --text-black: #080808;
    --text-white: #ffffff;
    --text-orange: #f39200;

    --title-section-size: 1.4em;
    --text-size: 13px;
    --small-text: 11px;
    --letter-space: letter-spacing: 10px;

    --box-shadow:  1px 1px 10px #0c0c0c34; 
}

* {
    box-sizing: border-box;
}

body {      
    font-family: 'Roboto', sans-serif;	
}

body a { 
    text-decoration: none;
}

/* dark mode */

.dark-mode {
    background: #080808;
    color: var(--text-grey);
}

.light-mode {
    background: #dddddd;
    color: var(--text-black);
}

.dark-mode #logo-nav {    
    filter: invert(0%) sepia(3%) saturate(1633%) hue-rotate(2deg) brightness(99%) contrast(94%);
}

.light-mode #logo-nav {
    filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(90%) contrast(103%);
}   

.dark-mode a {
    color: var(--text-grey);
}

.light-mode a {
    color: var(--text-black);
}

.dark-mode #btn-change-mode {
    color: var(--text-grey);
    border: 1px solid #dddddd;
}

.light-mode #btn-change-mode {
    color: var(--text-black);    
    border: 1px solid #080808;
}

.dark-mode .section-hero {
    box-shadow: 0 1px 10px #000000;
}

.light-mode .section-hero {
    box-shadow: 0 1px 10px #aaaaaa;
}

/* end dark mode */

.big-title, .title-section, .text, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.small-text {
    font-size: var(--small-text);
}

.container-site {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    position: relative;
}

#menu-desktop {
    display: none;    
}

#nav-mobile {  
    box-sizing: border-box; 
    padding: 1em;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

#logo-nav {
    display: block;
    width: 25px;
    height: auto;    
}

.section {
    padding: 4em 2em 0;
}

#btn-burger {
    width: 35px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}

.burger-line {
    width: 4px;
    height: 3px;
    background: #dddddd;
}

#btn-close-menu {
    cursor: pointer; 
    position: absolute;
    right: 0;   
}

/* aside menu */ 

#aside-menu {
    height: 100vh;
	width: 0%;
	max-width: 575px;
	padding-top: 3em;    
    position: fixed;
    left: 0;
    top: 0;    
	background-color: var(--bg-black);
	box-shadow: 3px 0 10px #000000;
	z-index: 99;
    transition: .5s;	
}

#menu-mobile {
	height: 86%;
	padding: 25px 12%;    
	display: flex;    
    flex-direction: column;
    justify-content: space-around;
	align-items: flex-end;	 
    overflow-x: hidden;
	white-space: nowrap;
}

#nav-mobile .link-nav {
	width: fit-content;
	width: -moz-fit-content;
}

.link-nav a {
    margin-left: 0;	
	font-weight: bold;
	text-decoration: none;
    text-transform: uppercase;
	/*color: var(--text-grey);*/
    font-size: 1em;
    letter-spacing: 3px;     
    display: block;	
}

.container-social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.container-social .item {
	width: 20%;
	max-height: 18px;
	display: flex;
	justify-content: center;	
	opacity: 0.5;
    transition: opacity 0.3s ease-in;
}

.container-social .item:hover {
	opacity: 1;
} 

.container-social img {
	display: block;	
}

.show {
	visibility: visible;		
}

.hide {
	visibility: hidden;
}

/* main */

.section {
    height: auto;
    display: flex;
}

.container-paragraphe {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
}

.title-section {
    color: var(--text-grey);
    font-size: var(--title-section-size);
    font-weight: bold;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: .5em;   
    width: fit-content;
}

.section-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;  
    position: relative; 
    box-shadow: 0 1px 10px #000000;
}

.left {
    height: 30vh;
    display: flex;
    align-content: center;
}

.right {
    height: 60vh;
}

.big-title {    
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
}

.text {
    margin: .5em 0;
    line-height: 23px;
    font-size: var(--text-size);    
}

.img-parent {
    position: relative;
}

.profil-picture {
    display: block;
    position: absolute;
    right: -2em;
    bottom: 0;
    height: auto;
    width: 70%;
    background: transparent;
}

.call-to-action {
    position: absolute;
    bottom: 2em;
    align-self: center;
    font-size: var(--small-text);
    letter-spacing: 3px;
    background: transparent;
}

h2 {
    margin-bottom: 2em;
}

.formation {
    margin-bottom: 3em;
}

.section-formation .container-paragraphe {
    margin-bottom: 1.5em;
}

.rich-text {
    padding: 0 0 0 1em;
}

.rich-text .text {
    margin: 0;
}

.text-italic {
    font-style: italic;
}

/* compétences */

.section-competences {
    /*height: 60vh;*/
    flex-direction: column;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-between;
    margin-top: 3em;
    flex-direction: row;
}

.container-item-skill {   
    width: 100%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    gap: 3em;      
    margin-top: 3em;     
}

.skill-icon {
    display: flex !important;
    font-size: 2em;
    justify-content: center;
    margin-bottom: .5em;    
}

.text-grid {
    text-align: center;
    text-transform: uppercase;
}

/* contact */ 

.section-contact {
    flex-direction: column;
    height: auto;
}

footer {
    padding: 4em 2em 1em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;  
}

footer .container-social {
    display: flex; 
    justify-content: space-between;
    width: 50%;
    margin-bottom: 2em;
}

@media screen and (min-width: 568px) {   

    #btn-burger {
        display: flex;
    }

    .section {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        padding: 3em 2em 0;
    }

    .section-hero {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        height: 50vh;       
    }

    .section-introduction {
        height: 50vh;
    }

    .section-hero .left {
        /* height: 30vh; */        
        width: 50%;
        height: auto;
    }

    .section-hero .right {
        width: 50%;
        height: auto;
    }    

    .call-to-action {
       display: none;
    }

    .section-formation .container-paragraphe, .section-experience .container-paragraphe {
        margin-bottom: 2em;
    }

    .text {
        font-size: 1.2em;
        line-height: 27px;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
        gap: 3em;      
        margin-top: 3em;     
    }
    
    footer .container-social {
        width: 25%;
        max-width: 200px;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 768px) {   

    .section {
        flex-direction: column;
        justify-content: center;
        padding: 3em 2em 0;
    }

    .section-hero {
        flex-direction: row;
    }

    .big-title {       
        font-size: 5.1vw;
        line-height: 1.3em;        
    } 

    .profil-picture {
        right: -2em;
    }

    .section-introduction .container-paragraphe {
        width: 55%;
    } 
    
    #flex-formation-exp {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90vh;
    }

    .formation {
        margin-bottom: 0;
    }

    .section-formation, .section-experience {
        justify-content: unset;
        height: auto;
    }

    .section-competences, .section-contact {
        height: 50vh;
    }    

    footer {
        height: 20vh;
    }
}

@media screen and (min-width: 992px) {
    

    #nav-mobile {
        padding: 2em;
    }

    #btn-burger {
        display: none;
    }

    #menu-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }   

    .link-nav a {
        margin-right: 50px;
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;        
        font-size: 1em;
        letter-spacing: 3px;
    }

    #btn-change-mode {
        padding: 0.6em 1em;
        border: 1px solid #dddddd;
        background: transparent;
        border-radius: 30px;
        letter-spacing: 2px;
        cursor: pointer;
    }

    /* fin nav */

    .section {        
        padding: 3em 7em 0;
    }

    .profil-picture {
        right: -7em;
        min-width: 450px;
        max-width: 550px;
    }

    .section-hero {
        height: 100vh;
    }
}





